@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 12, 12;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 12, 12, 12;
    --background-end-rgb: 12, 12, 12;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(13, 13, 13);
  padding: 1rem;
}