
.cy-node {
  background-color: rgb(93, 135, 151);
  border-radius: 10px;
  border-radius: 10px;
  border-color: rgb(20, 20, 20);
}

.statusDot{
  height: 10px;
  width: 10px;
  background-color: #00c210;
  border-radius: 50%;
  margin: 2px;
  display: inline-block;
}


.namespace1 {
  background-color: #bf4e30;
}
.namespace2 {
  background-color: #766190;
}
.namespace3 {
  background-color: #22577a;
}
.namespace4 {
  background-color: #6a7a5a;
}
.namespace5 {
  background-color: #38a3a5;
}
